<p style="color: green"><%= notice %></p>

<h1>Recetas</h1>

<div id="recipes">
<% if @recipes.size==0 %>
  NO HAY RECETAS PUBLICADAS, ¡PUEDES SER EL PRIMERO EN AGREGAR UNA RECETA!
<% else %>
  <table border="10" align="center">
    <thead>
      <tr>
        <th>Receta</th>
        <th>Ilustración</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
    		  <td><%= link_to recipe.title, recipe %></td>
    		  <td>
          <% if recipe.image.present?%>
            <%= image_tag(recipe.image,size: "90x90") %>
          <% else %>
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/1200px-Imagen_no_disponible.svg.png",size: "90x90")%>
          <% end %></td>
          <td>
            <%= button_to "Eliminar", recipe, form: { data: { turbo_confirm: "¿Estás seguro de eliminar esta receta?" }}, method: :delete %>
            <%= link_to "Editar", edit_recipe_path(recipe) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>

<%= link_to "Crear Receta", new_recipe_path %>
