<p style="color: green"><%= notice %></p>

<%= render @recipe %>
<% if @recipe.image.present?%>
  <center>
  <%= image_tag(@recipe.image) %>
  </center
<% end %>
<div>
  <%= link_to "Editar Receta", edit_recipe_path(@recipe) %> |
  <%= link_to "Volver a Recetas", recipes_path %>
</div>
<br>
  <%= button_to "Eliminar Receta", @recipe, method: :delete %>
